<div class="container">
    <mat-toolbar [style.height.px]="60" class="toolbar" color="primary">
        <span></span>
        <span class="pacifico">Carrousel de Dessins</span>
        <span style="text-align: right; font-size: 15px">
            <mat-form-field>
                <input matInput placeholder="Recherche Par Étiquettes" />
            </mat-form-field>
        </span>
    </mat-toolbar>

    <div class="matContainer" *ngIf="moreThanOne()">
        <app-drawing-card class="sides" [positionCaracteristics]="sideCard" [infoDrawing]="drawingArray[0]"></app-drawing-card>
        <app-drawing-card class="main" [positionCaracteristics]="mainCard" [infoDrawing]="drawingArray[1]"></app-drawing-card>
        <app-drawing-card class="sides" [positionCaracteristics]="sideCard" [infoDrawing]="drawingArray[2]"></app-drawing-card>
    </div>
    <div class="arrowContainer">
        <span class="leftArrow"><mat-icon color="primary">arrow_left</mat-icon></span>
        <span class="rightArrow"><mat-icon color="primary">arrow_right</mat-icon></span>
    </div>
</div>
