.container {
    height: 100vh;
    display: flex;
}

.drawing-container {
    overflow: auto;
    flex: 1 1 auto;
}

.drawing {
    display: grid;
    width: min-content;
    outline: none;
}

.sidebar-container {
    height: 100vh;
    border: 1px solid black;
    width: 460px;
    margin-right: 5px;
    display: flex;
    flex-direction: row;
}
