<div #editor class="container" (keydown)="onKeyDown($event)">
    <div class="sidebar-container">
        <app-toolbar
            class="bars"
            (exportButtonClicked)="onExportDrawing()"
            (saveButtonClicked)="openSaveDrawingModal()"
            (carouselClicked)="openCarouselModal()"
        ></app-toolbar>
        <app-tool-attribute-bar class="bars"></app-tool-attribute-bar>
    </div>
    <div class="drawing-container">
        <app-drawing (editorMinWidthEmitter)="saveEditorMinWidth($event)" class="drawing" tabindex="0"></app-drawing>
    </div>
</div>
