<div style="margin: auto">
    <canvas #previewCanvas [attr.width]="620" [attr.height]="450"></canvas>
    <div class="export-options">
        <mat-form-field hintLabel="Max 25 caractères" appearance="fill">
            <mat-label>Nom du fichier</mat-label>
            <input matInput #input [formControl]="fileName" maxlength="25" placeholder="Ex. dessin1" required />
            <mat-hint align="end">{{ input.value?.length || 0 }}/25</mat-hint>
            <mat-error *ngIf="fileName.invalid">{{ getErrorMessage() }}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Extension</mat-label>
            <mat-select [(value)]="selectedFormat" (selectionChange)="onFormatChange(selectedFormat)">
                <mat-option *ngFor="let format of formats" [value]="format">{{ format }}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Étiquette(s)</mat-label>
            <mat-select multiple [(ngModel)]="labelsChecked">
                <mat-option *ngFor="let label of labels" [value]="label">{{ label }}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <mat-dialog-actions>
        <button mat-raised-button mat-dialog-close mat-flat-button>Annuler</button>

        <div class="flexExpand"></div>

        <button mat-raised-button color="primary" (click)="loadToServer()" [disabled]="waitingForServer || fileName.invalid">
            <span class="material-icons">save</span>Sauvegarder
        </button>
    </mat-dialog-actions>
</div>
