canvas {
    cursor: crosshair;
    border: 0 solid #000000;
    position: absolute;
    left: 0;
    top: 0;
    //background-color: white;
}

#canvas {
    z-index: 0;
}

#drawCanvas {
    z-index: 1;
}

#canvas-container {
    position: relative;
}

/*.eraser {
    cursor: wait;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 5px;
    height: 5px;
    border: 1px solid black;
    transform: translate(-50%, -50%);
    background-color: #fff; 
    z-index: 5;
}*/

.resizer {
    width: 5px;
    height: 5px;
    position: absolute;
    z-index: 50;
    border: 0 solid #000000;
    background-color: black;
    //border-radius: 50%; /*magic to turn square into circle*/
}

.resizer.middle-right {
    //background-color: #d7789a;
    cursor: ew-resize;
}

.resizer.bottom-middle {
    //background-color: #de950e;
    cursor: ns-resize;
}
.resizer.bottom-right {
    //background-color: #1e3e9d;
    cursor: nwse-resize;
}
