<!--  <div id="canvas-container">-->
<!--    <canvas id="canvas" #baseCanvas [attr.width]="width" [attr.height]="height"></canvas>-->
<!--    <canvas id="previewLayer" #previewCanvas [attr.width]="width" [attr.height]="height"></canvas>-->
<!--  </div>-->


<!--Version actuelle fonctionnelle-->
<div id="canvas-container">

  <div class='resizer middle-right'  [ngStyle]="{'left': width + 'px', 'top': (height/2 - 2.5) + 'px'}"
                                     (mousedown)="onMiddleRightResizerClick()"
                                     (mouseover)="onMouseOver()"
                                      matTooltip="W : {{width}} px"
                                      matTooltipPosition="right"></div>

  <div class='resizer bottom-right'  [ngStyle]="{'left': width + 'px', 'top': height + 'px'}"
                                     (mousedown)="onBottomRightResizerClick()"
                                     (mouseover)="onMouseOver()"
                                      matTooltip="W : {{width}} px &#13; H : {{height}} px"
                                      matTooltipPosition="below"></div>

  <div class='resizer bottom-middle' [ngStyle]="{'left': (width/2 - 2.5) + 'px', 'top': height + 'px'}"
                                     (mousedown)="onMiddleBottomResizerClick()"
                                     (mouseover)="onMouseOver()" matTooltip="H : {{height}} px"
                                      matTooltipPosition="below"></div>

  <canvas id="canvas" #baseCanvas [attr.width]="width" [attr.height]="height"
          (mousedown)="onMouseDown($event)"
          (mouseup)="onMouseUp($event)"
          (mousemove)="onMouseMove($event)"></canvas>
  <canvas id="previewLayer" #previewCanvas [attr.width]="width" [attr.height]="height"
          (mousedown)="onMouseDown($event)"
          (mouseup)="onMouseUp($event)"
          (mousemove)="onMouseMove($event)"></canvas>

<!--  <div [ngStyle]="{'height': resizePreviewHeight + 'px', 'width': resizePreviewWidth + 'px', 'background-color': '#a49fd7', 'position': 'relative', 'border': '1px dashed', 'z-index': -1}" *ngIf="isResizing()"></div>-->


  <!--  <canvas id="resizingLayer" #resizingPreviewCanvas width="width" [attr.height]="height"-->
<!--          (mousedown)="onMouseDown($event)"-->
<!--          (mouseup)="onMouseUp($event)"-->
<!--          (mousemove)="onMouseMove($event)" *ngIf="!isResizing"></canvas>-->
</div>




