canvas {
    cursor: crosshair;
    border: 0 solid #000000;
    position: absolute;
    left: 0;
    top: 0;
}

#canvas {
    z-index: 0;
}

#drawCanvas {
    z-index: 1;
}

#canvas-container {
    position: relative;
}

#canvasResizerPreview {
    position: relative;
    border: 1px dashed;
    min-width: 250px;
    min-height: 250px;
    z-index: 100;
}

#selectedArea {
    position: relative;
    z-index: 0;
}
.resizer {
    width: 5px;
    height: 5px;
    position: absolute;
    z-index: 50;
    border: 0 solid #000000;
    background-color: black;
}

.resizer.selection-box-middle-right {
    cursor: ew-resize;
}

.resizer.selection-box-bottom-right {
    cursor: nwse-resize;
}

.resizer.selection-box-middle-bottom {
    cursor: ns-resize;
}

.resizer.selection-box-top-left {
    cursor: nwse-resize;
}

.resizer.selection-box-top-middle {
    cursor: ns-resize;
}

.resizer.selection-box-top-right {
    cursor: nesw-resize;
}

.resizer.selection-box-middle-left {
    cursor: ew-resize;
}

.resizer.selection-box-bottom-left {
    cursor: nesw-resize;
}

.resizer.selection-box-center {
    cursor: move;
    background-color: transparent;
}

.resizer.middle-right {
    cursor: ew-resize;
}

.resizer.bottom-middle {
    cursor: ns-resize;
}
.resizer.bottom-right {
    cursor: nwse-resize;
}

#textArea {
    overflow: hidden;
    border: solid 1px black;
    outline: none;
    position: relative;
    margin: 0;
    z-index: 100;
    caret-color: black;
    word-wrap: break-word;
}

.text-box {
    position: relative;
    margin: 0;
    padding: 0;
    border: solid 0;
}
