<div id="canvas-container">
    <div
        class="resizer middle-right"
        [ngStyle]="{ left: width + 'px', top: height / 2 - 2.5 + 'px' }"
        (mousedown)="onMiddleRightResizerClick()"
        matTooltip="W : {{ width }} px"
        matTooltipPosition="right"
    ></div>

    <div
        class="resizer bottom-right"
        [ngStyle]="{ left: width + 'px', top: height + 'px' }"
        (mousedown)="onBottomRightResizerClick()"
        matTooltip="W : {{ width }} px | H : {{ height }} px"
        matTooltipPosition="below"
    ></div>

    <div
        class="resizer bottom-middle"
        [ngStyle]="{ left: width / 2 - 2.5 + 'px', top: height + 'px' }"
        (mousedown)="onMiddleBottomResizerClick()"
        matTooltip="H : {{ height }} px"
        matTooltipPosition="below"
    ></div>

    <div *ngIf="eraserActive" [ngStyle]="eraserCursor"></div>

    <canvas
        id="canvas"
        #baseCanvas
        [attr.width]="width"
        [attr.height]="height"
        [style.cursor]="isCurrentTool(toolsNames.Eraser) ? 'none' : 'crosshair'"
    ></canvas>
    <canvas
        id="previewLayer"
        #previewCanvas
        [attr.width]="width"
        [attr.height]="height"
        [style.cursor]="isCurrentTool(toolsNames.Eraser) ? 'none' : 'crosshair'"
    ></canvas>

    <canvas id="gridLayer" #gridCanvas [attr.width]="width" [attr.height]="height"></canvas>
    <div
        id="canvasResizerPreview"
        #canvasResizerPreview
        *ngIf="canvasResizerService.isResizing()"
        [ngStyle]="{ width: getPreviewCanvasSize().x + 'px', height: getPreviewCanvasSize().y + 'px' }"
    ></div>

    <canvas
        #selectedArea
        [attr.width]="width"
        [attr.height]="height"
        [ngStyle]="{ border: selectionEllipseService.selectionActive || selectionRectangleService.selectionActive ? '1px solid' : 'none' }"
    >
    </canvas>

    <div
        class="on-canvas-object textbox"
        touch-action="none"
        [ngStyle]="{
                    'width': textService.textBoxSize.x + 'px',
                    'height': textService.textBoxSize.y + 'px',
                     'left' : textService.textBoxPosition.x + 'px',
                      'top': textService.textBoxPosition.y + 'px'}"
    >
        <!-- <canvas width="641" height="452" style="pointer-events: none; transform: scale(1); transform-origin: left top"></canvas -->
        <textarea class="textbox-editor"
                  id="textArea"
                  placeholder="Entrez votre texte ici"
                  autofocus
                  #textArea
                  [(ngModel)]="textService.text"
                  *ngIf="textService.isWriting"
                  [ngStyle]="{
                              'font-size': textService.fontSize + 'px',
                              'font-family': textService.fontFace,
                              'text-align': textService.textAlign,
                              overflow : 'hidden',
                              'font-weight' : textService.getSingleStyle('bold'),
                              'font-style' : textService.getSingleStyle('italic'),
                              'text-decoration': textService.getTextDecoration(),
                              'color': textService.currentColorService.getPrimaryColorRgb(),
                              'border': 'solid 1px black',
                              'width': textService.textBoxSize.x + 'px',
                              'height': textService.textBoxSize.y + 'px',
                              'outline': 'none',
                              'position': 'absolute',
                               'left' : textService.textBoxPosition.x + 'px',
                               'top': textService.textBoxPosition.y + 'px',
                              'margin': 0,
                              'z-index': 100,
                              'caret-color': 'black'
                              }"></textarea>

    </div>

    <div
        class="resizer selection-box-middle-right"
        [hidden]="!selectionEllipseService.isSelectionDone"
        [ngStyle]="{
            left: getSelectedAreaSize().x + 'px',
            top: getSelectedAreaSize().y / 2 - 2.5 + 'px',
            transform: 'translate(' + getTopLeftCorner().x + 'px, ' + getTopLeftCorner().y + 'px)'
        }"
        *ngIf="selectionEllipseService.selectionActive"
    ></div>

    <div
        class="resizer selection-box-bottom-right"
        [hidden]="!selectionEllipseService.isSelectionDone"
        [ngStyle]="{
            left: getSelectedAreaSize().x + 'px',
            top: getSelectedAreaSize().y + 'px',
            transform: 'translate(' + getTopLeftCorner().x + 'px, ' + getTopLeftCorner().y + 'px)'
        }"
        *ngIf="selectionEllipseService.selectionActive"
    ></div>

    <div
        class="resizer selection-box-middle-bottom"
        [hidden]="!selectionEllipseService.isSelectionDone"
        [ngStyle]="{
            left: getSelectedAreaSize().x / 2 - 2 + 'px',
            top: getSelectedAreaSize().y + 'px',
            transform: 'translate(' + getTopLeftCorner().x + 'px, ' + getTopLeftCorner().y + 'px)'
        }"
        *ngIf="selectionEllipseService.selectionActive"
    ></div>

    <div
        class="resizer selection-box-top-left"
        [hidden]="!selectionEllipseService.isSelectionDone"
        [ngStyle]="{
            left: -2 + 'px',
            top: -2 + 'px',
            transform: 'translate(' + getTopLeftCorner().x + 'px, ' + getTopLeftCorner().y + 'px)'
        }"
        *ngIf="selectionEllipseService.selectionActive"
    ></div>

    <div
        class="resizer selection-box-top-middle"
        [hidden]="!selectionEllipseService.isSelectionDone"
        [ngStyle]="{
            left: getSelectedAreaSize().x / 2 - 2 + 'px',
            top: -2 + 'px',
            transform: 'translate(' + getTopLeftCorner().x + 'px, ' + getTopLeftCorner().y + 'px)'
        }"
        *ngIf="selectionEllipseService.selectionActive"
    ></div>

    <div
        class="resizer selection-box-top-right"
        [hidden]="!selectionEllipseService.isSelectionDone"
        [ngStyle]="{
            left: getSelectedAreaSize().x - 2 + 'px',
            top: -2 + 'px',
            transform: 'translate(' + getTopLeftCorner().x + 'px, ' + getTopLeftCorner().y + 'px)'
        }"
        *ngIf="selectionEllipseService.selectionActive"
    ></div>

    <div
        class="resizer selection-box-middle-left"
        [hidden]="!selectionEllipseService.isSelectionDone"
        [ngStyle]="{
            left: -2 + 'px',
            top: getSelectedAreaSize().y / 2 + 2 + 'px',
            transform: 'translate(' + getTopLeftCorner().x + 'px, ' + getTopLeftCorner().y + 'px)'
        }"
        *ngIf="selectionEllipseService.selectionActive"
    ></div>

    <div
        class="resizer selection-box-bottom-left"
        [hidden]="!selectionEllipseService.isSelectionDone"
        [ngStyle]="{
            left: -2 + 'px',
            top: getSelectedAreaSize().y - 2 + 'px',
            transform: 'translate(' + getTopLeftCorner().x + 'px, ' + getTopLeftCorner().y + 'px)'
        }"
        *ngIf="selectionEllipseService.selectionActive"
    ></div>

    <!-- black squares for rectangle -->
    <div
        class="resizer selection-box-middle-right"
        [hidden]="!selectionRectangleService.isSelectionDone"
        [ngStyle]="{
            left: getSelectedAreaSizeRectangle().x + 'px',
            top: getSelectedAreaSizeRectangle().y / 2 - 2.5 + 'px',
            transform: 'translate(' + getTopLeftCornerRectangle().x + 'px, ' + getTopLeftCornerRectangle().y + 'px)'
        }"
        *ngIf="selectionRectangleService.selectionActive"
    ></div>

    <div
        class="resizer selection-box-bottom-right"
        [hidden]="!selectionRectangleService.isSelectionDone"
        [ngStyle]="{
            left: getSelectedAreaSizeRectangle().x + 'px',
            top: getSelectedAreaSizeRectangle().y + 'px',
            transform: 'translate(' + getTopLeftCornerRectangle().x + 'px, ' + getTopLeftCornerRectangle().y + 'px)'
        }"
        *ngIf="selectionRectangleService.selectionActive"
    ></div>

    <div
        class="resizer selection-box-middle-bottom"
        [hidden]="!selectionRectangleService.isSelectionDone"
        [ngStyle]="{
            left: getSelectedAreaSizeRectangle().x / 2 - 2 + 'px',
            top: getSelectedAreaSizeRectangle().y + 'px',
            transform: 'translate(' + getTopLeftCornerRectangle().x + 'px, ' + getTopLeftCornerRectangle().y + 'px)'
        }"
        *ngIf="selectionRectangleService.selectionActive"
    ></div>

    <div
        class="resizer selection-box-top-left"
        [hidden]="!selectionRectangleService.isSelectionDone"
        [ngStyle]="{
            left: -2 + 'px',
            top: -2 + 'px',
            transform: 'translate(' + getTopLeftCornerRectangle().x + 'px, ' + getTopLeftCornerRectangle().y + 'px)'
        }"
        *ngIf="selectionRectangleService.selectionActive"
    ></div>

    <div
        class="resizer selection-box-top-middle"
        [hidden]="!selectionRectangleService.isSelectionDone"
        [ngStyle]="{
            left: getSelectedAreaSizeRectangle().x / 2 - 2 + 'px',
            top: -2 + 'px',
            transform: 'translate(' + getTopLeftCornerRectangle().x + 'px, ' + getTopLeftCornerRectangle().y + 'px)'
        }"
        *ngIf="selectionRectangleService.selectionActive"
    ></div>

    <div
        class="resizer selection-box-top-right"
        [hidden]="!selectionRectangleService.isSelectionDone"
        [ngStyle]="{
            left: getSelectedAreaSizeRectangle().x - 2 + 'px',
            top: -2 + 'px',
            transform: 'translate(' + getTopLeftCornerRectangle().x + 'px, ' + getTopLeftCornerRectangle().y + 'px)'
        }"
        *ngIf="selectionRectangleService.selectionActive"
    ></div>

    <div
        class="resizer selection-box-middle-left"
        [hidden]="!selectionRectangleService.isSelectionDone"
        [ngStyle]="{
            left: -2 + 'px',
            top: getSelectedAreaSizeRectangle().y / 2 + 2 + 'px',
            transform: 'translate(' + getTopLeftCornerRectangle().x + 'px, ' + getTopLeftCornerRectangle().y + 'px)'
        }"
        *ngIf="selectionRectangleService.selectionActive"
    ></div>

    <div
        class="resizer selection-box-bottom-left"
        [hidden]="!selectionRectangleService.isSelectionDone"
        [ngStyle]="{
            left: -2 + 'px',
            top: getSelectedAreaSizeRectangle().y - 2 + 'px',
            transform: 'translate(' + getTopLeftCornerRectangle().x + 'px, ' + getTopLeftCornerRectangle().y + 'px)'
        }"
        *ngIf="selectionRectangleService.selectionActive"
    ></div>
</div>
