canvas {
    cursor: crosshair;
    border: 1px solid #000000;
    position: absolute;
    left: 0;
    top: 0;
    //background-color: white;c
}

#canvas{
    z-index: 0;
}

#drawCanvas{
    z-index: 1;
}

#canvas-container{
    position: relative;
}
