.export-modal-container {
    margin: auto;
}
.export-options .mat-form-field + .mat-form-field {
    margin-left: 8px;
    margin-top: 8px;
}

.flexExpand {
    flex: 1 1 auto;
}

.preview-image {
    height: auto;
    width: auto;
    max-width: 620px;
    max-height: 450px;
    background-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    will-change: filter; /* optimize filter changes */
}
