<div>
<!--   <div style="width: 610px; height: 400px; margin: auto">-->
<!--    <img #previewImage src="">-->
     <canvas #previewCanvas [attr.width]="600" [attr.height]="400"></canvas>
<!--   </div>-->

  <div class="export-options">
      <mat-form-field hintLabel="Max 50 caractères" appearance="fill">
        <mat-label>Nom du fichier</mat-label>
        <input matInput #input maxlength="50" placeholder="Ex. dessin1">
        <mat-hint align="end">{{input.value?.length || 0}}/50</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Extension</mat-label>
        <mat-select [(value)]="selectedFormat" (selectionChange)="onFormatChange()">
          <mat-option *ngFor="let format of formats" value="extension">{{ format }}</mat-option>
        </mat-select>
        <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Filtre</mat-label>
        <mat-select [(value)]="selectedFilter" (selectionChange)="onFilterChange()">
          <mat-option *ngFor="let filter of filters" value="filter">{{ filter }}</mat-option>
        </mat-select>
        <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
      </mat-form-field>
    </div>

  <mat-dialog-actions  mat-dialog-actions>
    <button mat-raised-button mat-dialog-close mat-flat-button>Annuler</button>

    <div class="flexExpand"></div>

    <button mat-raised-button color="primary" (click)="onDownload()">
      <span class="material-icons">file_download</span>Télécharger
    </button>

    <button mat-raised-button color="primary" disabled>
      <span class="material-icons">file_upload</span>Téléverser sur Imgur
    </button>
  </mat-dialog-actions>

</div>
