.toolbar {
    min-height: 100vh;
    display: flex;
    padding: 10px 10px 0px 10px;
    flex-direction: column;
}

.flex-item {
    margin-bottom: 10px;
    width: 40px;
}

.polygon-button-container {
    margin-bottom: 5px;
}
