<div class="attribute-toolbar">
    <div class="grid">
        <mat-checkbox [(ngModel)]="showGrid" class="attribute-title" (change)="onGridSizeChange($event)"
            >Grille de prévisualisation<br /><small class="small-text">Afficher une grille à la zone de dessin</small></mat-checkbox
        >
        <div *ngIf="showGrid">
            <h3 class="attribute-sub-title">Taille des grilles: {{ gridService.gridSize }} pixels</h3>
            <mat-slider
                [value]="gridService.gridSize"
                #heightSlider
                color="primary"
                [min]="gridService.minGridSize"
                [max]="gridService.maxGridSize"
                step="20"
                (input)="onGridSizeChange($event)"
            ></mat-slider>
            <h3 class="attribute-sub-title">Opacité de la grille: {{ gridService.gridOpacity | percent }}</h3>
            <mat-slider
                [value]="gridService.gridOpacity"
                #heightSlider
                color="primary"
                [min]="gridService.minOpacity"
                [max]="gridService.maxOpacity"
                step="0.1"
                (input)="onGridOpacityChange($event)"
            ></mat-slider>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div *ngIf="showLineThickness()">
        <div class="line-thickness">
            <h3 class="attribute-title">Épaisseur du trait: {{ this.getCurrentLineThickness() }}px</h3>
            <mat-slider
                [value]="this.getCurrentLineThickness()"
                #thicknessSlider
                color="primary"
                [min]="showEraserThickness() ? 5 : 1"
                max="30"
                (input)="onThicknessChange($event)"
                (change)="onThicknessChange($event)"
                step="1"
            ></mat-slider>
        </div>
        <mat-divider></mat-divider>
    </div>
    <div *ngIf="showPipettePreview()">
        <app-pipette-preview></app-pipette-preview>
    </div>
    <mat-divider></mat-divider>
    <div *ngIf="showShapeStyle()">
        <div class="rectangle-ellipse-type">
            <h3 class="attribute-title">Type d{{ shapeStyleTitle() }}</h3>
            <mat-button-toggle-group (change)="onShapeStyleChange($event)" name="ShapeStyle" aria-label="Shape Style">
                <mat-button-toggle [checked]="isChecked(shapeStyle.Outline)" value="Outline">Contour</mat-button-toggle>
                <mat-button-toggle [checked]="isChecked(shapeStyle.Filled)" value="Filled">Plein</mat-button-toggle>
                <mat-button-toggle [checked]="isChecked(shapeStyle.FilledOutline)" value="FilledOutline">Plein & contour</mat-button-toggle>
            </mat-button-toggle-group>
        </div>
        <mat-divider></mat-divider>
    </div>

    <div *ngIf="showLineAttributes()">
        <div class="dot-radius">
            <h3 class="attribute-title">Rayon du point: {{ this.getCurrentDotRadius() }}px</h3>
            <mat-slider
                [value]="this.getCurrentDotRadius()"
                #dotRadiusSlider
                color="primary"
                min="5"
                max="20"
                (input)="onDotRadiusChange($event)"
                (change)="onDotRadiusChange($event)"
                step="1"
            ></mat-slider>
        </div>
        <mat-divider></mat-divider>
        <div class="show-dots">
            <mat-checkbox (change)="onShowDotChange($event)">Voir les points</mat-checkbox>
        </div>
        <mat-divider></mat-divider>
    </div>

    <div class="text-attributes" style="margin: 15px 0" *ngIf="showTextAttributes()">
        <div class="font-selector" style="text-align: center">
            <mat-form-field appearance="fill" style="width: 90%">
                <mat-label>Police</mat-label>
                <mat-select [(value)]="textService.fontFace" (selectionChange)="onFontFaceChange(textService.fontFace)">
                    <mat-option *ngFor="let fontFace of textFonts" [value]="fontFace" [style.font-family]="fontFace" style="font-size: large">
                        {{ fontFace }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <mat-divider></mat-divider>

        <div class="text-font-size">
            <h3 class="attribute-title">Taille de la police : {{ getCurrentFontSize() }} px</h3>
            <mat-slider
                [value]="getCurrentFontSize()"
                #flowSlider
                color="primary"
                [min]="2"
                [max]="150"
                step="1"
                (input)="onFontSizeChange($event)"
                (change)="onFontSizeChange($event)"
            ></mat-slider>
        </div>

        <mat-divider></mat-divider>

        <div class="text-appearance" style="text-align: center">
            <!--      <div class="default-appearance" style=" margin: 15px;">Default appearance: </div>-->
            <mat-button-toggle-group name="fontStyle" aria-label="Font Style" style="margin-bottom: 15px" multiple>
                <mat-button-toggle value="bold"><mat-icon>format_bold</mat-icon></mat-button-toggle>
                <mat-button-toggle value="italic"><mat-icon>format_italic</mat-icon></mat-button-toggle>
                <mat-button-toggle value="underline"><mat-icon>format_underline</mat-icon></mat-button-toggle>
                <mat-button-toggle value="underline"><mat-icon>strikethrough_s</mat-icon></mat-button-toggle>
            </mat-button-toggle-group>

            <div class="text-alignment">
                <mat-button-toggle-group #group="matButtonToggleGroup">
                    <mat-button-toggle value="left" aria-label="Text align left">
                        <mat-icon>format_align_left</mat-icon>
                    </mat-button-toggle>
                    <mat-button-toggle value="center" aria-label="Text align center">
                        <mat-icon>format_align_center</mat-icon>
                    </mat-button-toggle>
                    <mat-button-toggle value="right" aria-label="Text align right">
                        <mat-icon>format_align_right</mat-icon>
                    </mat-button-toggle>
                    <mat-button-toggle value="justify" aria-label="Text align justify">
                        <mat-icon>format_align_justify</mat-icon>
                    </mat-button-toggle>
                </mat-button-toggle-group>
                <div class="example-selected-value" style=" margin: 15px 0;">Selected value: {{group.value}}</div>
            </div>
        </div>

        <mat-divider></mat-divider>
    </div>

    <div class="aerosol-attributes" *ngIf="showAerosolAttributes()">
        <div>
            <div class="aerosol-emission-flow">
                <h3 class="attribute-title">Débit du jet: {{ getCurrentFrequency() }} particules/s</h3>
                <mat-slider
                    [value]="getCurrentFrequency()"
                    #flowSlider
                    color="primary"
                    [min]="MIN_FREQUENCY"
                    [max]="MAX_FREQUENCY"
                    step="1"
                    (input)="onFrequencyChange($event)"
                ></mat-slider>
            </div>
            <mat-divider></mat-divider>
        </div>

        <div>
            <div class="aerosol-jet-diameter">
                <h3 class="attribute-title">Diamètre du jet: {{ getCurrentJetDiameter() }}px</h3>
                <mat-slider
                    [value]="getCurrentJetDiameter()"
                    #flowSlider
                    color="primary"
                    [min]="MIN_JET_DIAMETER"
                    [max]="MAX_JET_DIAMETER"
                    step="1"
                    (input)="onJetDiameterChange($event)"
                ></mat-slider>
            </div>
            <mat-divider></mat-divider>
        </div>

        <div>
            <div class="aerosol-droplet-jet">
                <h3 class="attribute-title">Diamètre des goutelettes: {{ getCurrentDropletDiameter() }}px</h3>
                <mat-slider
                    [value]="getCurrentDropletDiameter()"
                    #flowSlider
                    color="primary"
                    [min]="MIN_DROPLET_DIAMETER"
                    [max]="MAX_DROPLET_DIAMETER"
                    step="1"
                    (input)="onDropletDiameterChange($event)"
                ></mat-slider>
            </div>
            <mat-divider></mat-divider>
        </div>
    </div>

    <div *ngIf="showPolygonAttributes()">
        <div class="number-of-sides">
            <h3 class="attribute-title">Nombres de côtés: {{ this.getCurrentNumberOfSides() }}</h3>
            <mat-slider
                [value]="this.getCurrentNumberOfSides()"
                #numberOfSideSlider
                color="primary"
                min="3"
                max="12"
                (input)="onNumberOfSidesChange($event)"
                (change)="onNumberOfSidesChange($event)"
                step="1"
            ></mat-slider>
        </div>
        <mat-divider></mat-divider>
        <div class="show-dots">
            <mat-checkbox (change)="onShowDotChange($event)">Voir les points</mat-checkbox>
        </div>
        <mat-divider></mat-divider>
    </div>
    <app-color-selector></app-color-selector>
    <mat-divider></mat-divider>
</div>
