.attribute-toolbar {
    height: 100vh;
    width: 255px;
    border-left: 1px solid black;
    padding: 5px 10px;
}

mat-slider {
    width: 250px;
    margin: -8px 0 -8px 0;
}
.mat-checkbox.mat-accent .mat-checkbox-inner-container {
    margin: 2px 8px auto 0;
}

.attribute-title {
    margin-bottom: 0;
}

.line-thickness {
    padding: 5px 0;
}
.dot-radius {
    padding: 5px 0;
}

.show-dots {
    padding: 8px 0 0 0;
    font-size: 16px;
    height: 30px;
}

.rectangle-ellipse-type {
    padding: 10px 0 20px 0;
}

.rectangle-ellipse-type {
    padding: 10px 0;
}

.aerosol-emission-flow {
    padding: 5px 0;
}

.aerosol-jet-diameter {
    padding: 5px 0;
}

.aerosol-droplet-jet {
    padding: 5px 0;
}

.mat-divider {
    border-top-width: 1px;
    border-top-color: #3f51b5;
}

.number-of-sides {
    padding: 5px 0;
}
