<canvas
    [style.background]="historyService.getColour(0)"
    width="20"
    height="20"
    (click)="selectPrimaryColor(0)"
    (contextmenu)="selectSecondaryColor(0)"
></canvas>
<canvas
    [style.background]="historyService.getColour(1)"
    width="20"
    height="20"
    (click)="selectPrimaryColor(1)"
    (contextmenu)="selectSecondaryColor(1)"
></canvas>
<canvas
    [style.background]="historyService.getColour(2)"
    width="20"
    height="20"
    (click)="selectPrimaryColor(2)"
    (contextmenu)="selectSecondaryColor(2)"
></canvas>
<canvas
    [style.background]="historyService.getColour(3)"
    width="20"
    height="20"
    (click)="selectPrimaryColor(3)"
    (contextmenu)="selectSecondaryColor(3)"
></canvas>
<canvas
    [style.background]="historyService.getColour(4)"
    width="20"
    height="20"
    (click)="selectPrimaryColor(4)"
    (contextmenu)="selectSecondaryColor(4)"
></canvas>
<canvas
    [style.background]="historyService.getColour(5)"
    width="20"
    height="20"
    (click)="selectPrimaryColor(5)"
    (contextmenu)="selectSecondaryColor(5)"
></canvas>
<canvas
    [style.background]="historyService.getColour(6)"
    width="20"
    height="20"
    (click)="selectPrimaryColor(6)"
    (contextmenu)="selectSecondaryColor(6)"
></canvas>
<canvas
    [style.background]="historyService.getColour(7)"
    width="20"
    height="20"
    (click)="selectPrimaryColor(7)"
    (contextmenu)="selectSecondaryColor(7)"
></canvas>
<canvas
    [style.background]="historyService.getColour(8)"
    width="20"
    height="20"
    (click)="selectPrimaryColor(8)"
    (contextmenu)="selectSecondaryColor(8)"
></canvas>
<canvas
    [style.background]="historyService.getColour(9)"
    width="20"
    height="20"
    (click)="selectPrimaryColor(9)"
    (contextmenu)="selectSecondaryColor(9)"
></canvas>
