.attribute-toolbar {
    height: calc(100vh - 40px);
    width: 303px;
    border-left: 1px solid black;
    padding: 20px 10px;
}

mat-slider {
    width: 300px;
}

.attribute-title {
    margin-bottom: 0px;
}

.line-thickness {
    padding: 10px 0;
}
.dot-radius {
    padding: 10px 0;
}
.show-dots {
    padding: 10px 0;
}
.show-dots-title {
    margin-top: 16px;
}

.rectangle-ellipse-type {
    padding: 10px 0 20px 0;
}

.mat-divider {
    border-top-width: 1px;
    border-top-color: #3f51b5;
}
