<mat-card class="card-container" [style.width]="positionCaracteristics.width" [style.height]="positionCaracteristics.height">
    <mat-card-header>
        <div mat-card-avatar class="header-image"></div>
        <mat-card-title> {{ infoDrawing.title }}</mat-card-title>
        <mat-card-subtitle> id : {{ infoDrawing.id }} </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image #image [src]="infoDrawing.dataURL" alt="Dessin" />
    <mat-card-content>
        <p>Étiquette(s) : {{ infoDrawing.tags }}</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button class="open" *ngIf="positionCaracteristics.position === 'main'">Ouvrir</button>
        <button mat-button class="close" *ngIf="positionCaracteristics.position === 'main'">Supprimer</button>
    </mat-card-actions>
</mat-card>
