.imageContainer {
    display: flex;
    align-content: center;
    justify-content: center;

    width: 100%;
}
//Pk ca marche pas
.mat-card {
    border-radius: 10px;
    border-color: black;
}

.mat-card-image:first-child,
.mat-card-image {
    margin: 0px;
}
