@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.pacifico {
    font-family: 'Pacifico', cursive;
}

// .container {
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     align-items: center;
//     min-height: 100vh;
//     height: auto;
// }

// .button {
//     margin-top: 10px;
//     text-align: center;
// }

// .team-name {
//     margin-top: 0.25em;
//     margin-bottom: 0.25em;
// }

// .header-item {
//     justify-content: center;
//     text-align: center;
// }

// .footer-item {
//     text-align: center;
// }

// .server-message {
//     justify-content: center;
//     width: 20%;
//     min-width: min-content;
// }
