@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    z-index: 2;
}
.pacifico {
    font-family: 'Pacifico', cursive;
}

.grid-list {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    width: 900px;
    height: 600px;
    border: 10px solid #3f51b5;
    border-radius: 10px;
    z-index: 1;
}
#canvas {
    background-image: url('./canvas.jpg');
    background-size: cover;
    cursor: pointer;
}
#sketchbook {
    background-image: url('./sketchbook.jpg');
    background-size: cover;
    background-position: 0 30%;
    cursor: pointer;
}

#paintbrushes {
    background-image: url('./paintbrushes.jpg');
    background-size: cover;
}

.tile-header {
    display: flex;
    justify-content: center;
    font-family: 'Pacifico', cursive;
    font-size: 130%;
    color: black;
}

// .container {
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     align-items: center;
//     min-height: 100vh;
//     height: auto;
// }

// .button {
//     margin-top: 10px;
//     text-align: center;
// }

// .team-name {
//     margin-top: 0.25em;
//     margin-bottom: 0.25em;
// }

// .header-item {
//     justify-content: center;
//     text-align: center;
// }

// .footer-item {
//     text-align: center;
// }

// .server-message {
//     justify-content: center;
//     width: 20%;
//     min-width: min-content;
// }
