<mat-toolbar [style.height.px]="60" class="toolbar" color="primary">
    <span class="pacifico">La fabuleuse application PolyDessin 2</span>
    <span class="pacifico">Équipe 306</span>
    <span>
        <mat-icon [style.marginRight.px]="10" aria-hidden="false" aria-label="home icon">home</mat-icon>
        <span class="pacifico" [style.marginRight.px]="10">Home Sweet Home</span>
        <mat-icon aria-hidden="false" aria-label="home icon">home</mat-icon>
    </span>
</mat-toolbar>

<mat-grid-list class="grid-list" cols="2" rows="2" [rowHeight]="300">
    <mat-grid-tile [style.cursor]="isPendingDrawing ? 'pointer' : 'auto'" id="paintbrushes" [colspan]="1" [rowspan]="1">
        <mat-grid-tile-header *ngIf="isPendingDrawing" class="tile-header">Ouvrir un dessin</mat-grid-tile-header>
    </mat-grid-tile>
    <mat-grid-tile id="canvas" routerLink="/editor" [colspan]="1" [rowspan]="2" (click)="onCreateNewDrawing()">
        <mat-grid-tile-header class="tile-header">Créer un nouveau dessin</mat-grid-tile-header>
    </mat-grid-tile>
    <mat-grid-tile id="sketchbook" routerLink="/editor/carousel" [colspan]="1" [rowspan]="1" (click)="openCarousel()">
        <mat-grid-tile-header class="tile-header">Carrousel de dessins</mat-grid-tile-header>
        <app-carousel *ngIf="canOpen"></app-carousel>
    </mat-grid-tile>
</mat-grid-list>
